params.reads = "/path/to/000000000-CP3RN_l01_n0{1,2}_CV*.fastq.gz"
params.ref = "/genomics/genomes/Public/Virus/SARS-CoV2/NCBI/Wuhan-Hu-1/SARS-CoV2.fa"
params.outdir = "/beegfs/mk5636/covid19/000000000-CP3RN/"
params.adapters = "/share/apps/trimmomatic/0.36/adapters/NexteraPE-PE.fa"
params.pl = "illumina"
params.pm = "miseq"
params.fcid = "000000000-CP3RN"
params.grouping_regex = "_[ABCD]\$"
params.primers = "static/all_primers.fa"

// First one is CGSB file naming, second one is Illumina
params.read_pair_regex = params.fcid + "_l0[12345678]_n0[12]_"
//params.read_pair_regex = "_R[12]_001"

// Set the Nextflow Working Directory
// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/nextflow_work_dir'

// Slurm settings
process.executor = 'slurm'
process.cpus = 10
process.memory = '30 GB'
process.time = '5 min'
